.about {
    padding: 6rem 1.5rem;

    &__desc {
        position: relative;

        width: 70%;
        margin-left: auto;
        margin-bottom: 6rem;

        font-size: 1.2rem;

        p {
            margin-top: 1.5rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-150%);

            width: 17rem;
            height: 17rem;

            border: 1px solid $dark-color;
            background-color: $dark-color;
            border-radius: 50%;
        }
    }
}