.news {
    padding: 3rem;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
    }

    &__block {
        display: flex;
        gap: 1rem;
    }

    &__desc {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;

        h3 {
            font-size: 2rem;
        }
    }

    &__button {
        font-weight: 700;
        transition: text-shadow .2s ease-in;

        &:hover {
            text-shadow: 0 0 3px #4dccff;
        }
    }
}