*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    cursor: pointer;
}

ol, ul, li {
    list-style-type: none;
}

input, textarea {
    background-color: transparent;
    font-size: inherit;
    font-weight: inherit;
}